.team-member {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  transition: 0.3s ease;
}
.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  max-width: 100%;
}
.modal-content {
  animation: modal-animation 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes modal-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.modal-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  max-width: 100%;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@media screen and (max-width: 580px) {
  .team-member {
    transform: scale(0.9);
  }
  .modal-content img {
    transform: scale(0.8);
  }
}