/* line 10, sass/libs/bootstrap-grid/_grid.scss */
.about-container {
  width: 100%;
  *zoom: 1;
  padding: 20px;
  margin-bottom: -50px;
}
/* line 4, sass/libs/_mixins.scss */
.about-container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media (min-width: 100%) {
  /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .about-container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .about-container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .about-container {
    width: 100%;
  }
}
/* 
.about-image {
  height: 100%;
} */
.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vision-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.mission-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vision-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .about-image {
    display: none;
  }
  .mission-content,
  .vision-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mission-text, .vision-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
