/* line 10, sass/libs/bootstrap-grid/_grid.scss */
.about-container { width: 100%; *zoom: 1; padding: 20px; margin-bottom: -50px;}
/* line 4, sass/libs/_mixins.scss */
.about-container:after { content: " "; clear: both; display: block; overflow: hidden; height: 0; }
@media (min-width: 100%) { /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .about-container { width: 100%; } }
@media (min-width: 992px) { /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .about-container { width: 100%; } }
@media (min-width: 1200px) { /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .about-container { width: 100%; } }
  


.about-main-content{
  background: rgba(0, 0, 0, .6);
}