.article-page {
  padding: 20px;
  background-color: #ffffff;
}
.article-page-inner {
  margin: 0 auto;
  max-width: 1000px;
}
.article-page-inner h2 {
  color: #000;
  text-transform: none;
}
.article-page-inner .thumbnail {
  width: 100%;
  object-fit: contain;
  
}

.article-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
@media screen and (max-width: 580px) {
    .article-meta {
        flex-direction: column;
        align-items: flex-start;
    }
    
}
.article-meta p {
  margin: 0;
}
.share {
  display: flex;
  gap: 10px;
}
.article-page .content {
  text-align: justify;
}

.news-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
}
.news-group::-webkit-scrollbar {
  display: none;
}
.article-page .related-news h2,
.article-page .recommended-news h2,
.article-page .latest-news h2 {
  color: #6c757d;
  margin-top: 40px;
}

@media screen and (max-width: 375px) {
  .news-group {
    overflow-x: scroll;
  }
}
