.articles {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    /* flex-wrap: wrap;
    justify-content: center;
    gap: 30px; */
    /* background-color: blue; */
}

/* @media screen and (max-width: 768px) {
    .articles {
        grid-template-columns: 25% 25% 25%;
column-gap: 50px;
    }
} */