.table-option {
  display: flex;
  margin: 5px 2px;
  gap: 5px;
}
.table-option {
  white-space: normal;
  overflow-wrap: break-word;
}
.table-input {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 10%;
  gap: 3px;
}
.table-unit {
  width: 15px;
  height: 15px;
  border: 1px solid lightgray;
}
