.box {
  width: 80%;
  height: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  border: 1px solid #ffffff;
}
.box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
}
.box:focus-within {
  border-radius: 10px;
}
.box:hover .input, .box:hover i {
  color: #000000;
}
.input {
  color: #ffffff;
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  border-width: 0px;
  padding: 10px;
}

.box i {
  color: #ffffff;
  cursor: pointer;
}
