.card {
  max-width: 24rem;
  min-width: 18rem;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-img-top:hover {
  transform: scale(1.1);
}

.card-title {
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
  display: -webkit-box; /* for iOS and Safari */
  -webkit-line-clamp: 2; /* limit to 2 lines */
  -webkit-box-orient: vertical; /* vertical direction */
  overflow: hidden;
  text-align: justify;
}
.card-date {
  font-size: 0.9rem;
  color: #000000;
}
.card-category {
  font-size: 0.9rem;
  color: #6c757d;
  text-transform: capitalize;
}

.card-body {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 894px) {
  .first {
    max-width: 72rem;
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1 / 4; 
  }

  .first .card-img-top {
    min-width: 18rem;
    max-width: 24rem;
    width: 45%;
    height: 100%;
  }

  .first .card-body {
    padding-top: 10px;
  }
  .first .card-body .card-text {
    display: -webkit-box; /* for iOS and Safari */
    -webkit-line-clamp: 10; /* limit to 2 lines */
    -webkit-box-orient: vertical; /* vertical direction */
    overflow: hidden;
  }
}
