.full {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 0, 0, 0.438); */
}
.full .main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full .main-content .login-box {
  width: 70%;
  height: 70vh;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  padding: 20px;
  animation: zoom-animation 0.3s ease-out;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full .main-content .login-box:hover {
  transform: translateY(-5px);
}

@keyframes zoom-animation {
  0% {
      transform: scale(0) rotate(0deg);
}
100% {
    transform: scale(1) rotate(360deg);
  }
}

.login-box h1 {
  margin-bottom: 1rem;
}

.login-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.form-group {
  margin-bottom: 1rem;
}

.login-box form label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-box .form-group input[type="text"],
.login-box .form-group input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    text-transform: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
}

.login-box form button[type="submit"] {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-box form button[type="submit"]:hover {
  background-color: #0069d9;
}
