.upload-article {
  width: 100%;
  /* background-color: yellow; */
  height: fit-content;
}
.upload-article .upload-section input[name="title"] {
  font-weight: 20px;
  font-size: larger;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.upload-article .upload-section input[name="tags"] {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.upload-article .upload-section input[type="text"] {
  width: 100%;
  /* max-width: 500px; */
  height: 40px;
  outline: none;
  border: none;
  padding: 0 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.upload-article .upload-section details {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 20px;
}
details .author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /* background-color: red; */
  height: 20px;
  margin-top: 10px;
  gap: 20px;
  list-style: disc;
}
details .summary {
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}
details .summary:hover {
  padding-left: 10px;
}
details .author input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: red;
  /* border-radius: 50px; */
}

.upload-article button[type="submit"] {
  width: 50%;
  height: 40px;
  color: rgb(80, 80, 250);
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px 25%;
  border: none;
  transition: 0.3s ease;
  /* display: none; */
}

.upload-article button[type="submit"]:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .upload-article .upload-section {
  height: 50px;
}
.upload-article .upload-section:focus-within {
  height: 1000px;
} */

details[open] > div {
  animation-name: slideDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}
.slug {
  width: fit-content;
  border-radius: 20px;
  background-color: rgb(80, 80, 250);
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
}
